footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

footer img {
    content: '';
    display: inline-block;
    position: absolute;
    max-width: 100px;
    top: 1rem;
    right: 1rem;
}