.skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skills .fiscal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: .5rem;
}

.skills .fiscal ul li {
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: .3rem .8rem;
    font-size: .85rem;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 .5rem 0 0;
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
    }
}